body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0B0C10;
    color:#66FCF1;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('./pics/istockphoto-1189403784-612x612.jpg');
    background-attachment: fixed;
}
.intro{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.heading{
    text-align:center;
    font-size: 48px;
}

.subheading{
    text-align:center;
    font-size: 20px;
    margin-top: 5px;
    font-family:Impact, sans-serif;
    font-weight: bolder;
}

.prompt{
    text-align:center;
    font-size: 32px;
}

input[type=radio]{
    border: 0px;
    width: 100%;
    height: 2em;
    
}
.userchoice{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    text-align: center;
    font-size: 32px;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-text-stroke: 1px #66FCF1;
    color:#0B0C10;
    
}

img{
    width:30%;
    height:auto;
}

.one, .two, .three{
    width:420px;
    height: auto;
}
.input{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.submit{
    background-color: #3D52A0;
    border-radius:4px;
    color:#F9FAF8;
    border:2px solid #66FCF1;
    padding:10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submit:hover{
    background-color: white;
    color: #3882F6;
}

.output{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.fin{
    margin-top:0px;
}

.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:20px;
    text-align:center;
    position:relative;
    margin-top:auto;
    left:0;
    bottom:0;
    width:100%;
    background-color:#3D52A0;
    color:white;
}

